* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #748ffc;
}

.container {
  background-color: #fbf7ee;
  width: 550px;
  height: 650px;
  border-radius: 10px;
}

.display-area {
  display: block;
  height: 350px;
  width: 550px;
  border-radius: 10px 10px 0 0;
  background: #bac8ff;
}

.display-area h1 {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;
  padding-top: 53px;
  padding-bottom: 30px;
}

.display-area textarea {
  border-style: hidden;
  outline: none;
  width: 300px;
  background: none;
  font-weight: 800;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  display: block;
  margin-left: 130px;
}

.display-area textarea::placeholder {
  color: seashell;
  opacity: 0.3;
}

button {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
  font-size: 1.5rem;
  background-color: #dbe4ff;
  border-radius: 8px;
  border: none;
  padding: 0;
}

button:hover,
button:active {
  background-color: #4c6ef5;
  cursor: pointer;
  font-weight: 600;
  color: seashell;
}

.display-area textarea::placeholder {
  color: whitesmoke;
  opacity: 0.6;
}

#convert-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  letter-spacing: 2px;
}

.box {
  margin: 12px 0px;
}

.box h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #1a1921;
  margin-bottom: 5px;
}

.box p {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #4e4e4e;
}

.length-box,
.volume-box,
.mass-box {
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 400px) {
  .container {
    max-width: 300px;
    max-height: 100vh;
  }

  .display-area {
    width: 100%;
  }

  .display-area textarea {
    margin: 0;
  }
}
